// Sidebar Base Styles
.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  width: var(--sidebar-width);
  background-color: var(--light);
  transition: var(--transition);
  z-index: 1000;
  display: flex;
  flex-direction: column;

  &.open {
    transform: translateX(0);
  }

  &.closed {
    transform: translateX(-100%);
  }

  &-header {
    display: flex;
    align-items: center;
    border-bottom: var(--border-width) solid var(--border-color);
    height: var(--header-height);
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--space-xs);
  }

  &-content {
    padding: var(--space-xl);
    flex: 1;
    position: relative;
  }

  &-footer {
    padding: 0 var(--space-lg);
    border-top: var(--border-width) solid var(--border-color);
    height: var(--footer-height);
    display: flex;
    align-items: center;
  }
}

// Left Sidebar Specific Styles
.left-sidebar {
  @extend .sidebar;
  left: 0;
  border-right: var(--border-width) solid var(--border-color);

  &.closed {
    transform: translateX(-100%);
  }

  .sidebar {
    &-content {
      .toggle-btn {
        right: var(--space-md);
      }
    }
  }
}

// Right Sidebar Specific Styles
.right-sidebar {
  @extend .sidebar;
  right: 0;
  border-left: var(--border-width) solid var(--border-color);

  &.closed {
    transform: translateX(100%);
  }

  .sidebar {
    &-content {
      .toggle-btn {
        left: var(--space-md);
      }
    }
  }
}

.toggle-btn {
  background: none;
  border-radius: var(--border-radius);

  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--font-size-sm);

  &:hover {
    background-color: var(--gray-light);
  }
}

// Floating Toggle Button Base Styles
.floating-toggle-btn {
  @extend .toggle-btn;
  position: fixed;
  top: calc(var(--header-height) / 2);
  transform: translateY(-50%);
  z-index: 999;
}

// Left Floating Toggle Button
.floating-toggle-btn.left {
  @extend .floating-toggle-btn;
  left: var(--space-md);
}

// Right Floating Toggle Button
.floating-toggle-btn.right {
  @extend .floating-toggle-btn;
  right: var(--space-md);
}
